
<fieldset>
  <legend class="issue-title">Issue</legend>
  <!-- What's the issue -->
  <label for="issue-title" class="edit-captions">What's the issue?</label><br>
  <div class="input-group mb-3">
    <input id="issue-title" type="text" name="title" value="{{issue.title}}" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <!-- Who does this affect -->
  <label for="movie-title" class="edit-captions">Who does it affect?</label><br>
  <div class="input-group mb-3">
    <input id="issue-title" id="movie-title" type="text" name="movieTitle" value="{{issue.movieTitle}}" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <!-- Describe the issue -->
  <label for="issue-description" class="edit-captions">Describe the issue in detail</label>
  <div class="input-group issue">
  <textarea class="form-control" aria-label="With textarea" id="issue-description" name="description">{{issue.description}}</textarea>
</div>
</fieldset>
