
<fieldset>
  <legend class="note-title">Edit Note</legend>
  <!-- TITLE -->
  <label for="note-title" class="edit-captions">Title</label><br>
  <div class="input-group mb-3">
    <input id="note-title" type="text" name="title" value="{{note.title}}" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <!-- Short Description -->
  <label for="movie-title" class="edit-captions">Short Description</label><br>
  <div class="input-group mb-3">
    <input id="note-title" id="movie-title" type="text" name="movieTitle" value="{{note.movieTitle}}" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <!-- DESCRIPTION -->
  <label for="note-description" class="edit-captions">Note</label>
  <div class="input-group note">
  <textarea class="form-control" aria-label="With textarea" id="note-description" name="description">{{note.description}}</textarea>
</div>
</fieldset>
