<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>U-GLASS</title>
  <link rel="icon" type="image/png" href="https://mbtskoudsalg.com/images/transparent-favicons-black-2.png"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">U-Glass</a>
    </div>
    <form class="navbar-form navbar-left" action="/action_page.php">
      <div class="form-group">
        <input type="text" class="form-control search-box" placeholder="Search...">
      </div>
      <button type="submit" class="btn btn-default">GO!</button>
    </form>
    <ul class="nav navbar-nav navbar-right">
     <li><a href="/products/new"><i class="fas fa-plus-circle"></i> Add Item</a></li>
     <li><a href="/products/about">About Us</a></li>
   </ul>
  </div>
</nav>
<div class="container">
  {{{body}}}
<p class="cred">MVP U-GLASS</p>
<div class="info">
<i type="button" data-toggle="modal" data-target="#myModal" style="color:#a4b0be;"><i class="fas fa-info-circle"></i></i>
</div>

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Info</h4>
      </div>
      <div class="modal-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur venenatis justo sollicitudin est porta, at aliquet tellus aliquam. Sed non lorem nec ipsum mollis posuere. Sed elit ipsum, convallis et cursus nec, scelerisque eget neque. Nullam in ultrices massa, sed mattis augue. Nullam dictum eget eros sit amet ornare. Aliquam erat volutpat. Aenean ornare est quis velit tempor tincidunt. Vivamus id metus eu magna varius blandit. Nulla facilisi. Nullam maximus ultricies ligula sed aliquet. Quisque leo massa, venenatis dapibus feugiat at, aliquam ac ligula.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

</div>

</div>
<style>
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
  background-color:#f5f5f5;
}

.search-box{
  width:400px !important;
}

.cred{
  position:fixed;
  bottom:0px;
  left:20px;
  color:grey;
  font-size:12px;
}

.logo{
font-family: 'Nunito', sans-serif;
color:#2c3e50;
}

#u-logo{
  color:#6c5ce7;
}

.disclaimer{
width:50%;
font-size:12px;
}

.info{
  position:fixed;
  bottom:15px;
  right:20px;
}

.info a:link{
color:grey;
}

.info:hover{
font-size:17px;
}

.navbar-brand{
  color:#636e72!important;
}

.result{
  max-width:48.5%;
  margin-bottom:5px !important;
}

.new-product{
  margin-top:7%;
  max-width:40%;
}

.new-product-input{
  width:100%;
}

.new-product-go{
  width:40%;
  background-color:#636e72;
  color:#fff;
}

label{
  padding-top:12px;
}

.panel-body{
  padding:7px;
  padding-left:15px;
}

.delete-custom{
  background-color:transparent !important;
  color:#636e72;
  margin-left:-12px;
}

.edit-custom{
  color:#636e72;
  margin-left:-12px;
}

.about-us{
  margin-top:5%;
  width:70%;
  font-family: 'Roboto', sans-serif;
  font-size:18px;
  margin-left:auto;
  margin-right:auto;
}

.name{
  color:grey;
  font-size:12px;
}

.name-two{
  color:grey;
  font-size:12px;
  margin-left:10px;
}

.product {
	background: #fff;
	padding: 20px;
  border:1px solid #dfe6e9;
  border-radius:5px;
  color:#2d3436;
}

.product.product-gray {
	background: #f7f7f7;
}

.product.product-bordered {
	border: 1px solid #eee;
}

.product-title {
	padding: 0;
  	min-height: 40px;
  	border-bottom: 1px solid #eee;
  	margin-bottom: 18px;
}

.caption {
	float: left;
	display: inline-block;
	font-size: 18px;
	line-height: 18px;
}

.caption.caption-green .caption-subject,
.caption.caption-green i {
	color: #4db3a2;
	font-weight: 200;
}

.caption.caption-red .caption-subject,
.caption.caption-red i {
	color: #e26a6a;
	font-weight: 200;
}

.caption.caption-purple .caption-subject,
.caption.caption-purple i {
	color: #8775a7;
	font-weight: 400;
}

.caption i {
	color: #777;
	font-size: 15px;
	font-weight: 300;
	margin-top: 3px;
}

.caption-subject {
	color: #666;
	font-size: 16px;
	font-weight: 600;
}

.caption-helper {
	padding: 0;
	margin: 0;
	line-height: 13px;
	color: #9eacb4;
	font-size: 13px;
	font-weight: 400;
}

.actions {
	float: right;
  	display: inline-block;
}

.actions a {
	margin-left: 3px;
}

.actions .btn {
	color: #666;
	padding: 3px 9px;
	font-size: 13px;
  	line-height: 1.5;
  	background-color: #fff;
  	border-color: #ccc;
  	border-radius: 50px;
}

.actions .btn i {
	font-size: 12px;
}

.actions .btn:hover {
	background: #f2f2f2;
}

.pagination {
	margin: -3px 0 0;
	border-radius: 50px;
}

.pagination > li > a,
.pagination > li > span {
	padding: 4px 10px;
	font-size: 12px;
	color: #8775a7;
	background: #f7f7f7;
}

.pagination > li:hover > a,
.pagination > li.active > a,
.pagination > li.active:hover > a {
	color: #fff;
	background: #8775a7;
	border-color: #8775a7;
}

.inputs {
	float: right;
	display: inline-block;
	padding: 4px 0;
	margin-top: -10px;
}

.input-inline {
	width: 240px;
	display: inline-block;
	vertical-align: middle;
}

.product-title > .nav-tabs {
	background: none;
	margin: 0;
	float: right;
	display: inline-block;
	border: 0;
}

.product-title > .nav-tabs > li {
	background: none;
	margin: 0;
	border: 0;
}

.product-title > .nav-tabs > li > a {
	background: none;
	border: 0;
	padding: 2px 10px 13px;
	color: #444;
}

.product-title > .nav-tabs > li.active,
.product-title > .nav-tabs > li.active:hover {
  	border-bottom: 4px solid #f3565d;
  	position: relative;
  }

  .product-title > .nav-tabs > li:hover {
  	border-bottom: 4px solid #f29b9f;
  }

.product-title > .nav-tabs > li.active > a,
.product-title > .nav-tabs > li:hover > a {
	color: #333;
	background: #fff;
	border: 0;
}


.actions .btn.btn-circle {
	width: 28px;
	height: 28px;
	padding: 3px 7px;
	text-align: center;
}

.actions .btn.btn-circle i {
	font-size: 11px;
}

.actions .btn.grey-salsa {
	border: none;
	margin-left: 3px;
	box-shadow: none;
	border-radius: 50px !important;
}

.actions .btn.grey-salsa.active {
	color: #fafcfb;
	background: #8e9bae;
}
  .actions .grey-salsa.btn:hover,
  .actions .grey-salsa.btn:focus,
  .actions .grey-salsa.btn:active,
  .actions .grey-salsa.btn.active {
	color: #fafcfb;
	background: #97a3b4;
}
#food-group{
  color:#57606f;
}
</style>
</body>
</html>
