<form method="POST" action="/issues">

  <fieldset>
    <legend class="issue-title">Add Due Date</legend>
    <!-- Due Date -->
    <label for="issue-title" class="edit-captions">Create a due date for your issues</label><br>
    <div class="input-group mb-3">
      <input id="issue-date" type="date" name="date" value="{{issue.date}}" class="form-control">
    </div>
  </fieldset>

  <!-- BUTTON -->
  <p>
    <button type="submit" class="btn btn-outline-dark button-custom">GO!</button>
  </p>

</form>
