
<form method="POST" action="/issues/{{issue._id}}?_method=PUT">
  {{> issues-form}}
  <!-- BUTTON -->
  <p>
    <button type="submit" class="btn btn-outline-secondary button-custom">Save Issue</button>
    <a href="/" class="btn btn-outline-dark button-custom"><i class="fas fa-home"></i> Home</a>
  </p>
</form>
