
<form method="POST" action="/notes/{{note._id}}?_method=PUT">
  {{> notes-form}}
  <!-- BUTTON -->
  <p>
    <button type="submit" class="btn btn-outline-primary button-custom"><i class="fas fa-save"></i> Save Note</button>
    <a href="/" class="btn btn-outline-dark button-custom"><i class="fas fa-home"></i> Home</a>
  </p>
</form>
