<form method="POST" action="/products">
  {{> products-form}}

  <!-- BUTTON -->
  <center><br>
    <button type="submit" class="btn btn-outline-dark button-custom new-product-go">SUBMIT</button>
  </center>

</form>
