<div class="about-us">
<p>
  About Us<br>
  <hr>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur venenatis justo sollicitudin est porta, at aliquet tellus aliquam. Sed non lorem nec ipsum mollis posuere. Sed elit ipsum, convallis et cursus nec, scelerisque eget neque. Nullam in ultrices massa, sed mattis augue. Nullam dictum eget eros sit amet ornare. Aliquam erat volutpat. Aenean ornare est quis velit tempor tincidunt. Vivamus id metus eu magna varius blandit. Nulla facilisi. Nullam maximus ultricies ligula sed aliquet. Quisque leo massa, venenatis dapibus feugiat at, aliquam ac ligula. Pellentesque gravida aliquet urna, in efficitur mi ornare id. Maecenas odio quam, venenatis a dictum in, posuere ac risus. Phasellus lobortis nisi sit amet convallis finibus.
<br><img src="https://avatars0.githubusercontent.com/u/26716475?s=460&v=4" width="50px" height="50px" style="border-radius:50%; margin-top:10px; margin-left:10px;">
<img src="https://cdn.filestackcontent.com/s7R523RgiQ9MUlZ76zgd" width="50px" height="50px" style="border-radius:50%; margin-top:10px; margin-left:30px;">
<br><small class="name">Parker Tenove</small><small class="name-two">Eric Botcher</small>
</p>
